<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <%- include('includes/head') %> <!-- Partial para el head -->
    </head>
    <body>
        <%- include('includes/navbar') %>
        <h1 class="title has-text-danger">ES Don gato!!</h1><br><br>
        <img width="10%" id="imagen_gato" src="https://th.bing.com/th/id/OIP.2rleXjgUneARLVGviAoyBgHaHa?rs=1&pid=ImgDetMain" alt=""/>
        <br><br>
        <button class="button is-link m-3" id="boton_regreso">regresar</button>

        <%- include('includes/footer') %> <!-- Partial para el footer -->

        <script src="js/regresar.js"></script>
    </body>
</html>