<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <%- include('includes/head') %> <!-- Partial para el head -->
    </head>
    <body>
        <h1 class="title has-text-danger">Mira un gato sonriente</h1><br><br>
        <img width="40%" id="imagen_gato" src="https://imagenes.razon.com.mx/uploads/2020/05/27/5ece26c97cc5a.jpeg" alt=""/>
        <br><br>
        <button class="button is-link m-3" id="boton_regreso">regresar</button>

        <%- include('includes/footer') %> <!-- Partial para el footer -->

        <script src="js/regresar.js"></script>
    </body>
</html>