<!DOCTYPE html>
<html lang="es">
<head>
     <%- include('includes/head') %>
    
     <style>
        .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041e3f;
}

.login-container h1 {
    color: #041e3f;
}

.login-container label {
    color: #041e3f;
}


.box {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.login-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.login-image img {
    max-width: 100px; 
}

     </style>
</head>
<body>
    <body>
        <div class="login-container">
            <div class="box has-background-white">
                <div class="login-image">
                    <img src="https://static.vecteezy.com/system/resources/previews/002/373/233/large_2x/black-cat-simple-logo-design-vector.jpg" alt="Logo">
                </div>
                <h1 class="title has-text-centered">Iniciar Sesión</h1>
                <form id="loginForm" action="/users/login" method="POST">
                    <div class="field">
                        <label class="label">Correo Electrónico</label>
                        <div class="control">
                            <input class="input" id="email" name="email" type="email" placeholder="ejemplo@correo.com" required>
                        </div>
                    </div>
    
                    <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control">
                            <input class="input" id="password" name="password" type="password" placeholder="********" required>
                        </div>
                    </div>
    
                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-primary is-fullwidth" value="Entrar">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <%- include('includes/footer') %> <!-- Partial para el footer -->
</body>
</html>
