<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>power</strong> by <a href="#">A01707267</a>. Todos los derechos reservados.
      </p>
    </div>
  </footer>
  