<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Inicio
      </a>
      <a class="navbar-item" href="/DonGato">
        Don Gato
      </a>
      <a class="navbar-item" href="/gato">
        Gato
      </a>
    </div>
  </nav>
  